body {
  margin: 0;
  font-family: "Ubuntu", sans-serif;
}

/* Typography */

h1 {
  font-family: "Lora", sans-serif;
  font-weight: 400;
  font-size: 2rem;
  color: #143774;
  margin: 0;
  border: 1px solid red;

}

.subtitle {
  font-weight: 700;
  color: #1792d2;
  font-size: .75rem;
  margin: 0
}



/* Layouts */

header {
  text-align: center;
  background: #f8f8f8;
  padding: 2em 0;
  border: 1px solid red;
}

/* Navigation */

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  border: 1px solid red;

}
nav li {
  margin: 0 1em;

}

nav a {
  text-decoration: none;
  font-weight: 700;
  color: #707070;
  padding: .25em;

}

nav a:hover,
nav a:focus {
  color: #1792d2;
}


.current-page {
  border-bottom: 1px solid #707070;
}

.current-page:hover {
  color: #707070;
}
